{{ define "main" }}
{{ `<!-- enter: layouts/index.html -->` | safeHTML }}

<div class="container mt-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">
        Welcome!
      </h1>

      <div class="welcome">
        <p>{{ "Welcome to **STC Rec**!" | markdownify }}</p>
        <p>{{ "We are excited to start our 2022 Summer REC Season!  This includes T-Ball, Baseball, Softball, Volleyball, Golf, Tennis, Soccer, Speed & Agility.  You can register online by going to: http://getmeregistered.com/stcrecsummer , or you can click on the registration page and download/print the forms." | markdownify }}</p>

        <p>Like our <a href="https://www.facebook.com/southtamarecreation/" target="_blank"><span class='button-shortcode'>Facebook page (<i class='fab fa-facebook-f'></i>)</span></a> and stay up-to-date on all activities! </p>

        <div class="welcome-image">
          <img src=""></img>
        </div>

        </div>
      </div>
      <div class="card-footer"></div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title"> Dates to Remember </h2>

        <ul class="upcoming-events">
          {{ range (where .Site.RegularPages.ByDate "Type" "event") }}
          {{ if ge .Date.Unix now.Unix }}
            <div class="keep-together">
              <li class="event">
                <span class="event-line-1">
                  <a href="{{ .Permalink }}">
                    {{ if eq .Date.Year now.Year }}
                      {{ .Title }} <span class="nowrap">- {{ .Date.Format "Monday, Jan 2" }}</span></a>
                    {{ else }}
                      {{ .Title }} <span class="nowrap">- {{ .Date.Format "Monday, Jan 2, 2006" }}</span></a>
                    {{ end }}
                </span>
                <br/>
                <span class="event-line-2">
                  &nbsp;&nbsp; <span class="nowrap">{{ .Params.startTime }} to {{ .Params.endTime }}</span> <span class="nowrap">&bullet; {{ .Params.location }}</span> <span class="nowrap">&bullet; {{ .Params.city }}</span>
                </span>
              </li>
            </div>
          {{ end }}
        {{ end }}

        <li class="event">
          <span class="event-line-1">
            {{ "Baseball/Softball Registration - Due April 11, 2022" | markdownify }}
          </span>
        </li>
        <li class="event">
          <span class="event-line-1">
            {{ "All Other Sports Registration - Due May 9, 2022" | markdownify }}
          </span>
        </li>

        <p>{{ "**Return forms & payment to:** Elementary Office, Middle School Office, State Bank of Toledo or Mail to: PO Box 271, Toledo, IA 52342" | markdownify }}</p>

      </ul>
    </div>
    <div class="card-footer"></div>
  </div>

  {{ $paginator := .Paginate ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "eq" "post") }}
  {{ if .Site.Params.startPageColumns }}
    <div class="card-columns">
      {{ range $paginator.Pages }}
        {{- partial "content_index.html" . -}}
      {{ end }}
    </div>
  {{ else }}
    {{ range $paginator.Pages }}
      <div class="mb-3">
        {{- partial "content_index.html" . -}}
      </div>
    {{ end }}
  {{ end }}

  {{ template "_internal/pagination.html" . }}
</div>

{{ `<!-- exit: layouts/index.html -->` | safeHTML }}
{{ end }}
